src/main/java/es/altia/flexiaWS/tramitacion/WSTramitacionFlexiaImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://servicios.flexia" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://servicios.flexia" xmlns:intf="http://servicios.flexia" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns1="http://datos.bd.tramitacion.flexiaWS.altia.es" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema targetNamespace="http://datos.bd.tramitacion.flexiaWS.altia.es" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://servicios.flexia"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="DomicilioVO">
    <sequence>
     <element name="bloque" nillable="true" type="xsd:string"/>
     <element name="codMunicipio" type="xsd:int"/>
     <element name="codPais" type="xsd:int"/>
     <element name="codPostal" nillable="true" type="xsd:string"/>
     <element name="codProvincia" type="xsd:int"/>
     <element name="emplazamiento" nillable="true" type="xsd:string"/>
     <element name="esPrincipal" type="xsd:boolean"/>
     <element name="escalera" nillable="true" type="xsd:string"/>
     <element name="nombreVia" nillable="true" type="xsd:string"/>
     <element name="planta" nillable="true" type="xsd:string"/>
     <element name="portal" nillable="true" type="xsd:string"/>
     <element name="primerNumero" type="xsd:int"/>
     <element name="primeraLetra" nillable="true" type="xsd:string"/>
     <element name="puerta" nillable="true" type="xsd:string"/>
     <element name="tipoVia" type="xsd:int"/>
     <element name="ultimaLetra" nillable="true" type="xsd:string"/>
     <element name="ultimoNumero" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="InteresadoVO">
    <sequence>
     <element name="ap1" nillable="true" type="xsd:string"/>
     <element name="ap2" nillable="true" type="xsd:string"/>
     <element name="coddomicilio" nillable="true" type="xsd:string"/>
     <element name="codigo" nillable="true" type="xsd:string"/>
     <element name="doc" nillable="true" type="xsd:string"/>
     <element name="domicilio" nillable="true" type="tns1:DomicilioVO"/>
     <element name="email" nillable="true" type="xsd:string"/>
     <element name="nombre" nillable="true" type="xsd:string"/>
     <element name="telefono" nillable="true" type="xsd:string"/>
     <element name="tipoDoc" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
     <element name="rol" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="TramiteVO">
    <sequence>
     <element name="camposFormularios" nillable="true" type="xsd:string"/>
     <element name="codTramite" nillable="true" type="xsd:string"/>
     <element name="codigoTramiteFlujoSalida" nillable="true" type="xsd:string"/>
     <element name="ejercicio" nillable="true" type="xsd:string"/>
     <element name="entidad" nillable="true" type="xsd:string"/>
     <element name="estado" nillable="true" type="xsd:string"/>
     <element name="fechaFin" nillable="true" type="xsd:string"/>
     <element name="fechaInicio" nillable="true" type="xsd:string"/>
     <element name="municipio" nillable="true" type="xsd:string"/>
     <element name="nombreTramite" nillable="true" type="xsd:string"/>
     <element name="numeroExpediente" nillable="true" type="xsd:string"/>
     <element name="observaciones" nillable="true" type="xsd:string"/>
     <element name="ocurrenciaTramite" nillable="true" type="xsd:string"/>
     <element name="organizacion" nillable="true" type="xsd:string"/>
     <element name="procedimiento" nillable="true" type="xsd:string"/>
     <element name="unidadOrganicaExp" nillable="true" type="xsd:string"/>
     <element name="unidadTramitadoraAnterior" nillable="true" type="xsd:string"/>
     <element name="unidadTramitadoraTram" nillable="true" type="xsd:string"/>
     <element name="unidadTramitadoraUsu" nillable="true" type="xsd:string"/>
     <element name="uor" nillable="true" type="xsd:string"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="ExpedienteVO">
    <sequence>
     <element name="asunto" nillable="true" type="xsd:string"/>
     <element name="camposFormularios" nillable="true" type="xsd:string"/>
     <element name="departamento" nillable="true" type="xsd:string"/>
     <element name="ejercicico" nillable="true" type="xsd:string"/>
     <element name="ejercicio" nillable="true" type="xsd:string"/>
     <element name="ejercicioAsiento" nillable="true" type="xsd:string"/>
     <element name="entidadUsuario" nillable="true" type="xsd:string"/>
     <element name="fechaInicio" nillable="true" type="xsd:string"/>
     <element name="municipio" nillable="true" type="xsd:string"/>
     <element name="numero" nillable="true" type="xsd:string"/>
     <element name="numeroAsiento" nillable="true" type="xsd:string"/>
     <element name="organizacionUsuario" nillable="true" type="xsd:string"/>
     <element name="procedimiento" nillable="true" type="xsd:string"/>
     <element name="rol" nillable="true" type="xsd:string"/>
     <element name="tercero" nillable="true" type="impl:ArrayOf_tns1_InteresadoVO"/>
     <element name="tipoAsiento" nillable="true" type="xsd:string"/>
     <element name="tramite" nillable="true" type="tns1:TramiteVO"/>
     <element name="unidadRegistradora" nillable="true" type="xsd:string"/>
     <element name="uor" nillable="true" type="xsd:string"/>
     <element name="usuario" nillable="true" type="xsd:string"/>
     <element name="version" nillable="true" type="xsd:string"/>
     <element name="campos" nillable="true" type="xsd:string"/>
     <element name="observaciones" nillable="true" type="xsd:string"/>
     <element name="uorTramiteInicio" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="FlujoFinalizacionVO">
    <sequence>
     <element name="listaRespuesta" nillable="true" type="impl:ArrayOf_tns1_TramiteVO"/>
     <element name="tipoApertura" type="xsd:int"/>
    </sequence>
   </complexType>
   <complexType name="CondicionFinalizacionVO">
    <sequence>
     <element name="flujoNO" nillable="true" type="tns1:FlujoFinalizacionVO"/>
     <element name="flujoSI" nillable="true" type="tns1:FlujoFinalizacionVO"/>
     <element name="pregunta" nillable="true" type="xsd:string"/>
     <element name="respuesta" nillable="true" type="xsd:string"/>
     <element name="tipoFinalizacion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="InfoConexionVO">
    <sequence>
     <element name="aplicacion" nillable="true" type="xsd:string"/>
     <element name="organizacion" nillable="true" type="xsd:string"/>
    </sequence>
   </complexType>
   <complexType name="SalidaBoolean">
    <sequence>
     <element name="codigoError" nillable="true" type="xsd:int"/>
     <element name="incidencias" nillable="true" type="xsd:string"/>
     <element name="resultado" nillable="true" type="xsd:boolean"/>
    </sequence>
   </complexType>
   <complexType name="RespuestasTramitacionVO">
    <sequence>
     <element name="expediente" nillable="true" type="tns1:ExpedienteVO"/>
     <element name="idExpediente" nillable="true" type="tns1:ExpedienteVO"/>
     <element name="idtramite" nillable="true" type="tns1:TramiteVO"/>
     <element name="salida" nillable="true" type="tns1:SalidaBoolean"/>
     <element name="tramite" nillable="true" type="tns1:TramiteVO"/>
     <element name="tramitesIniciados" nillable="true" type="impl:ArrayOf_tns1_TramiteVO"/>
    </sequence>
   </complexType>
  </schema>
  <schema targetNamespace="http://servicios.flexia" xmlns="http://www.w3.org/2001/XMLSchema">
   <import namespace="http://datos.bd.tramitacion.flexiaWS.altia.es"/>
   <import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
   <complexType name="ArrayOf_tns1_InteresadoVO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:InteresadoVO[]"/>
     </restriction>
    </complexContent>
   </complexType>
   <complexType name="ArrayOf_tns1_TramiteVO">
    <complexContent>
     <restriction base="soapenc:Array">
      <attribute ref="soapenc:arrayType" wsdl:arrayType="tns1:TramiteVO[]"/>
     </restriction>
    </complexContent>
   </complexType>
  </schema>
 </wsdl:types>

   <wsdl:message name="finalizarTramiteOperacionRequest">

      <wsdl:part name="in0" type="tns1:ExpedienteVO"/>

      <wsdl:part name="in1" type="tns1:TramiteVO"/>

      <wsdl:part name="in2" type="tns1:CondicionFinalizacionVO"/>

      <wsdl:part name="in3" type="xsd:string"/>

      <wsdl:part name="in4" type="tns1:InfoConexionVO"/>

   </wsdl:message>

   <wsdl:message name="finalizarTramiteOperacionResponse">

      <wsdl:part name="finalizarTramiteOperacionReturn" type="tns1:SalidaBoolean"/>

   </wsdl:message>

   <wsdl:message name="iniciarExpedienteOperacionRequest">

      <wsdl:part name="in0" type="tns1:ExpedienteVO"/>

      <wsdl:part name="in1" type="tns1:InfoConexionVO"/>

   </wsdl:message>

   <wsdl:message name="iniciarExpedienteOperacionResponse">

      <wsdl:part name="iniciarExpedienteOperacionReturn" type="tns1:RespuestasTramitacionVO"/>

   </wsdl:message>

   <wsdl:portType name="WSTramitacionFlexiaImpl">

      <wsdl:operation name="finalizarTramiteOperacion" parameterOrder="in0 in1 in2 in3 in4">

         <wsdl:input message="impl:finalizarTramiteOperacionRequest" name="finalizarTramiteOperacionRequest"/>

         <wsdl:output message="impl:finalizarTramiteOperacionResponse" name="finalizarTramiteOperacionResponse"/>

      </wsdl:operation>

      <wsdl:operation name="iniciarExpedienteOperacion" parameterOrder="in0 in1">

         <wsdl:input message="impl:iniciarExpedienteOperacionRequest" name="iniciarExpedienteOperacionRequest"/>

         <wsdl:output message="impl:iniciarExpedienteOperacionResponse" name="iniciarExpedienteOperacionResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="WSTramitacionFlexiaImplSoapBinding" type="impl:WSTramitacionFlexiaImpl">

      <wsdlsoap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="finalizarTramiteOperacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="finalizarTramiteOperacionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicios.flexia" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="finalizarTramiteOperacionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicios.flexia" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="iniciarExpedienteOperacion">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="iniciarExpedienteOperacionRequest">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicios.flexia" use="encoded"/>

         </wsdl:input>

         <wsdl:output name="iniciarExpedienteOperacionResponse">

            <wsdlsoap:body encodingStyle="http://schemas.xmlsoap.org/soap/encoding/" namespace="http://servicios.flexia" use="encoded"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="WSTramitacionFlexiaImplService">

      <wsdl:port binding="impl:WSTramitacionFlexiaImplSoapBinding" name="WSTramitacionFlexiaImpl">

         <wsdlsoap:address location="http://localhost:8080/LCE_16.00_MAYO/services/WSTramitacionFlexiaImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
